#machineknoppen {
    width: 40%;
    position: fixed;
    top: 5%;
    left: 60%;
    height: 50%;
    font-size:200%;
}

#machineNumber {
    background-color: lightgray;
}

.mb {
    width: 32%;
    height: 20%;
    margin-top: 2px;
}

#mb0 {
    margin-left: 32%;
}
.order {
    margin-top: 2%;
    display: block;
   padding: 5%;
   margin-left:20%;
   font-size:100%;
}
#automaat {
    margin-top: 0%;
    width:50%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    font-size: 100%;
    justify-content: space-around;
    align-items: center;
  
}
#brood {
    
    padding: 2%;
}

h2 {
    text-align:center;
}

#muntjes {
    position: fixed;
    top:50%;
    left:10%;
    padding:5%;
    height: 20%;
    width:20%;
    background-color:black;
}
.muntje {
    width: 32%;
    height: 20%;
    margin-top: 2px;
}